# dependencies
/node_modules
/.pnp
.pnp.js

/.next/

# misc
.DS_Store
*.pem

# debug
*.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

.vscode

# static site
out
.wrangler